html {
    font-size: 14px;
    /* Base para rem */
}

p.text-nomal{
    font-weight: normal;
}

.text-bold{
    font-weight: bold;
}

.text-title {
    margin: 0;
    line-height: 1.4;
    font-weight: bold;
    
}

.text-shadow{
    text-shadow: 1px 1px 16px rgb(0 0 0 / 90%);
}

.text-very-small {
    font-size: 0.8em;
}

.text-price {
    font-size: 1.3em !important;
}

.text-small {
    font-size: 2em;
}

.text-medium {
    font-size: 3em;
}

.text-big {
    font-size: 4em;
}

.vip-rotate {
    font-size: 22px;
    transform: rotate(270deg);
}

.vip-rotate-card1 {
    font-size: 22px;
    transform: rotate(90deg);
}

.texto-oscuro{
    color: var(--color-texto-oscuro);
}

.texto-claro{
    color: var(--color-texto-claro);
}

/* TEXTO DESTACADO */
.destacado{
    border: 1px solid;
    border-radius: 10px;
    height: 1.5em;
    padding: 5px 10px;
}

